<p id="notice"><%= notice %></p>
<h1>Welcome Create your Payment Plan</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<p> El nombre del administrador es: <%=@admin.name %></p>
<p>Pyme Name <%=@admin.pymeName%></p>

<%= render 'payment_plans/form'%>